.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color:rgb(202, 32, 112);
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
  }